div {
  width: 100%;
}

@media only screen and (max-width: 768px) {
  iframe {
    height: 300px;
    width: 90%;
    margin-right: 2.5%;
    margin-left: 2.5%;
    margin-top:10%;
  }
}
@media only screen and (min-width: 768px) {
  iframe {
    height: 400px;
    width: 60%;
    margin-right: 2.5%;
    margin-left: 2.5%;
    margin-top:10%;
    float: left;
  }
}

ul {
  list-style-type: none;
  margin: 0;
  padding:0;
  overflow: hidden;
  width: 100%;
  background-color: #333;
}
li {
  float:left;
}

li a {
  display: block;
  color:white;
  text-align: center;
  padding:14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #111;
}
